# Node.js dependencies
node_modules/

# Logs and temporary files
*.log
*.tmp




# Ignore system files
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/